@model WebApplication.Presentation.Models.RecipeIndexViewModel
@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<a href="/Cookbook/Index" style="padding:5px 10px; font-size:16px; text-decoration:none; background-color:#f0f0f0; border:1px solid #ccc; border-radius:5px; color:black;">
    ← Terug
</a>

<li>
    <a asp-controller="Recipe" asp-action="Create" asp-route-cookbookId="@Model.CookbookId">
        ➕ Nieuw recept
    </a>
</li>

<h2>Recepten</h2>

<ul>
    @foreach (var recipe in Model.Recipes)
    {
        <li>
            <strong>@recipe.Name</strong><br />
            <span>@recipe.ShortDescription</span><br />
            <a href="@Url.Action("Details", "Recipe", new { id = recipe.Id })">Details</a>
            <form asp-action="Delete" method="post" style="display:inline;">
                <input type="hidden" name="id" value="@recipe.Id" />
                <input type="hidden" name="cookbookId" value="@Model.CookbookId" />
                <button type="submit" class="btn btn-danger btn-sm">Verwijder</button>
            </form>
        </li>
    }
</ul>
